html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(54,39,54);
}

canvas {
  display: block;
  margin: auto;
  border-radius: 15px;
}

button {
  display: block;
  width: 7em;
  height: 2em;
  border-radius: 25px;

  font-size: 2em;
}

input {
  background-color: red;
  width: 500px;
}

div.buttons {
  width: 50%;
  margin: auto;
  margin-top: 4em;

  display: flex;
  flex-direction: row;
}

div.quit {
  display: block;
  margin: auto;
}

div.spacer {
  margin-bottom: 1%;
}

